# My first R notebook

In [2]:
# creation of variables
a = 10
b <- 20
30 -> c
# above all declarations carry same meaning

all the above declarations carry the same meaning

In [3]:
# print the above variables
a
b
c

[1] 10

[1] 20

[1] 30

In [4]:
n <- 15
n

[1] 15

In [5]:
5 -> n
n

[1] 5

In [6]:
x <- 1
X <- 10
x
X

[1] 1

[1] 10

In [7]:
n <- 10 + 2
n

[1] 12

In [8]:
n <- 3 + rnorm(1)
n

[1] 3.74665

In [9]:
# rnorm(1) is a function that generates a normal random variable with mean zero  and variance unity. Note that you can simply 
#type an expression without assigning its value to an object, the result is thus displayed on the screen but is not stored in 
#the memory

In [10]:
(10 + 2) * 5

[1] 60

In [11]:
# the above one is an example of how we can use an expression as a calculator without actually storing the value.

In [12]:
name <- "Carmen"; n1 <- 10; n2 <- 100; m<- 0.5
ls()

 [1] "a"    "b"    "c"    "m"    "n"    "n1"   "n2"   "name" "x"    "X"

In [13]:
# Note we aae declaring variables in the same line seperated by semi colon  
# ls() - list function lists the all the available variables in the memory

In [14]:
# Note we use pattern option - pat() if we want to list only the objects which contain a given character in their name.

In [15]:
ls(pat = "m")

[1] "m"    "name"

In [16]:
# to restrict the list of objects whose names start with this character:
ls(pat = "^m")

[1] "m"

In [17]:
# The function ls.str displays some details on the objects in memory:
ls.str()

a :  num 10
b :  num 20
c :  num 30
m :  num 0.5
n :  num 3.75
n1 :  num 10
n2 :  num 100
name :  chr "Carmen"
x :  num 1
X :  num 10

In [18]:
# on-line help - is useful to know how to make use of the 
?lm

In [19]:
#lm() linear model, The commands help(lm) and help("lm") have the same effect

In [20]:
x <- 1
mode(x)

[1] "numeric"

In [21]:
length(x)

[1] 1

In [22]:
A <- "Gomphotherium"; compar <- TRUE; z <- 1i
mode(A); mode(compar); mode(z)

[1] "character"

[1] "logical"

[1] "complex"

In [23]:
# Whatever the mode, the missing datas are represented by NA (not available)

In [24]:
length(A); length(compar); length(z)

[1] 1

[1] 1

[1] 1

In [25]:
# note it does not count the characters in the string 
# it counts the string as one value

In [26]:
# very large numbers represented by
N <- 2.1e23
N

[1] 2.1e+23

In [27]:
# R correctly represents the positive and negative infinity as Inf and -Inf 
# or values which are not numbers with NaN (not a number)

In [28]:
x <- 5/0
x

[1] Inf

In [29]:
exp(x) # finds e power x

[1] Inf

In [30]:
exp(-x)

[1] 0

In [31]:
x - x #infinity - infinity is NaN

[1] NaN

In [32]:
# using double quotes in the middle of a string using back slash \

In [35]:
x <- "Double quotes \" delimitate R's strings."
x

[1] "Double quotes \" delimitate R's strings."

In [36]:
cat(x)

Double quotes " delimitate R's strings.

In [37]:
#alternatively
x <- 'Double quotes " delimitate R\'s strings.'

In [38]:
x

[1] "Double quotes \" delimitate R's strings."

In [ ]:
object